.nav-bar {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    /* padding: 12px 20px; */
    display: flex;
    border-bottom: 1px soild #eee;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 50px;
    z-index: 1000;
    padding: 20px 90px;
}

.first-to-last {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 90px;
    margin-top: 50px;
}

.first-to-last img {
    width: 100%;
    height: auto;
}

.first-to-last h1 {
    font-size: 18px;
}

.F-man_pic {
    text-align: center;
}

.End {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.pic1 {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.pic2 {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.text {
    text-align: center;
    align-items: center;
    width: 100px;
    padding-left: 10px;
    line-height: 5px;
}

.span-tag {
    background-color: black;
    color: white;
    /* margin: 4px; */
    /* padding: 4px; */
}

.span-tags {
    background-color: gray;

    /* line-height: 10px; */
    /* padding-top: 10px; */
}

.image-1 {
    display: flex;
    border-bottom: 2px solid gray;
    align-items: center;
    width: auto;
}

.image-2 {
    display: flex;
    align-items: center;
}

.gaps-rows {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.text-parah {
    width: 300px;
    margin-left: 220px;
}